.add-user-container {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 25rem;
  background-color: #f2f2f2;
  border-radius: 5%;
  
  box-shadow: 0.5rem 0.5rem #bababa;
  align-items: center;
  justify-content: center;
}
.input {
  background-color: #cdcdcd;
  height: 2rem;
  width: 20rem;
  border-radius: 5%;
  text-align: center;
  margin-bottom: 2rem;
}
.input:focus {
  outline: none;
}
.submit {
  background-color: #cdcdcd;
  width: 5rem;
  height: 2rem;
  border-radius: 5%;
}
.submit:hover {
  background-color: #bababa;
  cursor: pointer;
}
.submit:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.sign-in-title {
  font-size: larger;
  font-weight: 700;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  background-color: white;
}

