.diary-btn {
  background-color: #cdcdcd;
  border-radius: 5%;
  width: 60%;
  margin-top: 1rem;
  min-height: 2rem;
  max-height: 2rem;
}
.diary-btn:hover {
  cursor: pointer;
  background-color: #bababa;
}

.diarys {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 30rem;
  align-self: center;
  margin-top: 4rem;
  background-color: #f2f2f2;
  align-items: center;
  border-radius: 5%;
}

.add-svg {
    width: 1.5rem;
  margin-left: 0.5rem;
  
}
.span1 {
  width: 5rem;

}
.grid-ratio{
    grid-template-columns: 1fr 2fr;
}