.nav-bar {
  display: flex;
  flex-direction: row;

  background-color: #f5f5f5;
  height: 5rem;
}
.nav-bar2 {
  display: grid;
  grid-template-columns: 4fr 4fr 8fr 2fr 2fr;
  background-color: #f5f5f5;
  height: 5rem;
}
.span {
  font-size: larger;
  font-weight: bold;
  color: black;
  width: 22rem;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 11rem;
}
.link:hover {
  background-color: #dbdbdb;
}
.sign-in {
  grid-column: 5;
}
.login {
  grid-column: 4;
}
.logout {
  text-decoration: none;
  display: none;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  align-items: center;
  justify-content: center;
  width: 11rem;
  grid-column: 5;
}
